body{
    width: 100%;
    height: 100%;
    background:url(http://pic1.win4000.com/wallpaper/2017-12-05/5a2683fc9bc8f.jpg) no-repeat;
    background-size: 100%;
    color: whitesmoke;
}

 

.signup-container{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
}

.space{
    height: 10px;
}



h1{
    height:50px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font: 30px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
}

input.button {
    width:142px;
    font-weight: bold;
    float: left;
    color: #09161f;
}

input.button:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

input{
    width: 230px;
    height: 30px;
    margin-left: 7px;
    background:transparent;
    border:1px solid #ffffff;
    border-radius: 6px;
    color: aliceblue;
    padding-left: 5px;
    font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
}

#sid,#email,#phone {
    margin-left: 22px;
}

.error{
    width: 100%;
    text-align: center;
}

.error_display{
    color:red;
    height: 30px;
    font: 8px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
    margin-top: 7px;
    display: block;
}